// ----------------
// Colors
// Base colors
$black: #000;
$white: #fff;
$ef: #efefef;
$c80: #808080;
$c4b: #4b4b4b;
$c33: #333333;
$cloak: transparent;

// ----------------
// Custom color
$text-base: #222;

$turquoise: #1abc9c;
$greensea: #16a085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$peterriver: #3498db;
$belizehole: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$wetasphalt: #34495e;
$midnightblue: #2c3e50;
